<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Vue.js App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
    <div id="github">
        <ul>
            <li v-for="repo in repos">
                <div class="product">
                    <div class="product-github">
                        <a v-bind:href="repo.html_url" target="_blank">{{repo.name}}</a>
                        {{repo.language}}
                        <span class="onsale-section"><span class="onsale">GitHub</span></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div id="qiita">
        <ul>
            <li v-for="article in articles">
                <div class="product">
                    <div class="product-qiita">
                        <a v-bind:href="article.url" target="_blank">{{article.title}}</a>
                            <span class="onsale-section"><span class="onsale">Qiita</span></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <script
        src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="main.js"></script>
</body>
</html>